body {
  font-family: sans-serif;
}
.hidden {
  display: none;
}

div#outter {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#login-div {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#todoIn {
  text-align: center;
}

div#clock {
  font-weight: bold;
  font-size: 4em;
}

#weather {
  position: absolute;
  top: 0;
  right: 0;
}
